/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



#title{
    margin-top:70px;
    color:turquoise;
    background: 0,0,0,0;
}
#logo_index{
  text-align: center;
  background: 0,0,0,0;
  
}

#title_contentPG{
  color:turquoise;
  background: 0,0,0,0;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_body {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the navigation bar */
.navbar {
background: rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: transparent;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: turquoise;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

canvas{
  width: 100%;
  height: 100%;
}
#tsparticles{
    width: 100%;
    height: 100%;
    position:absolute;
    background: linear-gradient(45deg, #0ac8f8, #081866);
    z-index: -100;
}
#particles-js {
    width: 100%;
    height: 100%;
    position:absolute;
    background: linear-gradient(45deg, #0ac8f8, #081866);
    z-index: 0;
}


/* Add padding to containers */
.container {
  padding: 16px;
}




/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}



.contact_body{
  background: rgba(0, 0, 0, 0);
}
